@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  background: url('./assets/dogs-bones-bg.jpg') top fixed;
  text-align: center;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  margin-bottom: 30px;
}